body{
    background-color: ivory;
}
.container{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.container2{
    display: flex;
    text-align: center;
    justify-content: center;
}

.box1{
    width: 200px;
    background-color: blue;
    text-align: center;
}
.box2{
    width: 200px;
    height: 100px;
    background-color: rebeccapurple;
}

.box3{
    width: 200px;
    height: 100px;
    background-color: red;
}

.box4{
    width: 200px;
    height: 100px;
    background-color: teal;
}

.box5{
    width: 200px;
    height: 100px;
    background-color: tomato;
}

.box6{
    width: 200px;
    height: 100px;
    background-color: yellow;
}

.box7{
    width: 200px;
    height: 100px;
    background-color: indigo;
}

.box8{
    width: 200px;
    height: 100px;
    background-color: orangered;
}

.box9{
    width: 200px;
    height: 100px;
    background-color: palevioletred;
}

.box10{
    width: 200px;
    height: 100px;
    background-color: aqua;
}

.box1{
    width: 200px;
    height: 100px;
    background-color: moccasin;
}

