.satu{
    width: 250px;
    height: 100px;
    border-style: dotted;
    border-color: red;
    border-width: 10px;
    background-color: aqua;
    overflow: scroll;
}

.dua{
    width: 250px;
    height: 150px;
    border-style: solid;
    border-color: brown;
    border-width: 10px;
    background-color: aqua;
    overflow: scroll;
}

.tiga{
    width: 250px;
    height: 150px;
    border-style: dashed;
    border-color:blue;
    border-width: 10px;
    background-color: aqua;
    overflow: scroll;
}