body{
    background-image: url("bg.jpg");
}

.container{
    background-color: white;
    width: 700px;
    height: 310px;
    background: red 10px solid;
    overflow: scroll;
    background-image: url("avocado.jpg");
    background-repeat: repeat-y;
}
.satu{
    text-align: right;
    color: red;
}
.dua{
    color: green;
}
.tiga{
    text-align: center ;
    color: blue;
}